---
import { Image } from '@astrojs/image/components'
import profile from '../assets/profile.jpg'
import Footer from '../components/Footer.astro'
import Icon from '../components/Icon.astro'
import Link from '../components/Link.astro'
import ListProjects from '../components/ListProjects.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Daniel Carmona Gilibert'>
	<main class='grid grid-cols-1 mt-5 md:mt-12 gap-y-16'>
		<header id='header' class='flex flex-col justify-center items-center gap-y-2 md:gap-0'>
			<div class='flex md:flex-row flex-col justify-center items-center gap-5'>
				<Image
					src={profile}
					class='bg-gradient-to-t from-[#11111100] via-[#240f1b] to-[#620b3e] p-1.5 rounded-full md:w-44 md:h-44 w-36 h-36 object-cover'
					alt='profile'
					format='webp'
				/>

				<div class='flex flex-col gap-y-2'>
					<h1 class='text-center md:text-left md:text-[2.35rem] text-2xl leading-9 font-medium m-0'>
						Hola soy Daniel. <br /> Front-End Developer
					</h1>
					<div class='flex gap-x-10'>
						<Link href='https://github.com/danielcgilibert'
							><Icon w={6} h={6} name='github' />GitHub</Link
						>

						<Link href='https://es.linkedin.com/in/danielcarmonagilibert'
							><Icon w={6} h={6} name='linkedin' />LinkedIn</Link
						>
					</div>
				</div>
			</div>
		</header>

		<section id='sobreMi' class='flex flex-col gap-y-5 text-left'>
			<h1
				class='prose text-3xl text-white leading-9 font-medium transition-opacity ease-in-out delay-300 duration-300 opacity-10'
			>
				Sobre Mi
			</h1>
			<article class='flex flex-col gap-y-5'>
				<div class='flex flex-col gap-y-5'>
					<div class='prose prose-xl text-gray'>
						<p>
							Siempre interesado en seguir desarrollando en este apasionante mundo del desarrollo.
						</p>
						<p>Enfocado en las últimas tecnologías como React, NextJS, Docker, NodeJS...</p>

						<p>
							Si quieres contactarme, háblame por LinkedIn y te responderé con la mayor brevedad
							posible.
						</p>
					</div>

					<span class='flex justify-center items-center gap-2 text-white'>
						<Link href='https://es.linkedin.com/in/danielcarmonagilibert'
							><Icon w={6} h={6} name='linkedin' />LinkedIn</Link
						>
					</span>
				</div>
			</article>
		</section>

		<section id='proyectos' class='flex flex-col gap-y-5'>
			<h1
				class='text-left text-3xl leading-9 font-medium transition-opacity ease-in-out delay-300 duration-300 opacity-10'
			>
				Proyectos
			</h1>
			<article class='flex flex-col items-center gap-y-5'>
				<ListProjects />
				<footer class='flex flex-col justify-center items-center'>
					<span class='text-gray'>Más proyectos en</span>
					<Link href='https://github.com/danielcgilibert'
						><Icon w={6} h={6} name='github' />GitHub</Link
					>
				</footer>
			</article>
		</section>
	</main>

	<Footer />
</Layout>

<style>
	main {
		animation: gradient 0.2s;
	}

	@keyframes gradient {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
</style>
<script>
	const proyectos = document.getElementById('proyectos') as HTMLElement | null
	const sobreMi = document.getElementById('sobreMi')

	const elementInView = (el: HTMLElement, scrollOffset = 0) => {
		const elementTop = el.getBoundingClientRect().top

		return (
			elementTop <= (window.innerHeight || document.documentElement.clientHeight) - scrollOffset
		)
	}

	window.addEventListener('scroll', (event) => {
		const proyect = document.getElementById('proyectos')
		const sobreMi = document.getElementById('sobreMi')
		let scrollPercentage = Math.round(
			(window.scrollY / (document.body.clientHeight - window.innerHeight)) * 100
		)

		if (scrollPercentage > 5) {
			sobreMi?.querySelector('h1')?.classList.add('opacity-100')
		} else {
			sobreMi?.querySelector('h1')?.classList.remove('opacity-100')
		}

		if (scrollPercentage > 25) {
			proyect?.querySelector('h1')?.classList.add('opacity-100')
		} else {
			proyectos?.querySelector('h1')?.classList.remove('opacity-100')
		}
	})
</script>
