---
import Link from './Link.astro'

const {} = Astro.props
---

<footer class='border-t-2 border-white text-gray mt-16'>
	<ul class='grid grid-cols-2 grid-rows-3 gap-y-5 p-5 text-center'>
		<li><Link href='#header'>Home</Link></li>
		<li><Link href='#proyectos'>Proyectos</Link></li>
		<li><Link href='#sobreMi'>Sobre Mi</Link></li>
		<li><Link href='https://google.com'>LinkedIn</Link></li>
		<li class='col-span-2'><Link href='https://google.com'>GitHub</Link></li>
		<li class='col-span-2 row-span-3'>Desarrollado con Astro y TailwindCSS</li>
	</ul>
</footer>
