---
export interface Props {
	href: string | null
	additionalClass?: string
	blank?: boolean
}

const { href, additionalClass = '', blank = true } = Astro.props
---

<a
	class={`flex justify-center items-center gap-2 hover:text-white ${additionalClass} ${
		href ? '' : 'pointer-events-none opacity-20'
	}`}
	rel='noopener noreferrer'
	href={href}
	target={`${blank ? '_blank' : ''}`}
>
	<slot />
</a>
