---
export interface Props {
	href: string
}

const { href } = Astro.props
---

<a
	class='flex justify-center items-center gap-2 hover:text-neutral-400 transition-all ease-linear'
	target='_blank'
	rel='noopener noreferrer'
	href={href}
>
	<slot />
</a>
