---
export interface Props {
	href: string
	additionalClass?: string
}

const { href, additionalClass = '' } = Astro.props
---

<a
	class={`flex justify-center items-center gap-2 hover:text-white ${additionalClass}`}
	target='_blank'
	rel='noopener noreferrer'
	href={href}
>
	<slot />
</a>
