---
import Card from './Card.astro'
import Link from './Link.astro'
---

<div class="grid grid-cols-1 md:grid-cols-3 md:gap-x-5 gap-y-5">
  <Link href="https:google.com">
    <Card
      border="t"
      title="filmoteca"
      img="filmoteca.jpeg"
      hrefWeb="google.com"
      hrefCode="google.com"
    />
  </Link>

  <Card
    border="t"
    title="fiber"
    img="fiber.png"
    hrefWeb="google.com"
    hrefCode="google.com"
  />

  <Card
    border="t"
    title="chart"
    img="chart.png"
    hrefWeb="google.com"
    hrefCode="google.com"
  />

  <Card
    border="t"
    title="portfolio"
    img="otherPortfolio.png"
    hrefWeb="google.com"
    hrefCode="google.com"
  />

  <Card
    border="t"
    title="portfolio"
    img="fiber.png"
    hrefWeb="google.com"
    hrefCode="google.com"
  />

  <Card
    border="t"
    title="portfolio"
    img="chart.png"
    hrefWeb="google.com"
    hrefCode="google.com"
  />
</div>
