---
---

<nav class="flex justify-between pt-2">
  <h1 class="text-xl">Daniel</h1>

  <ul class="hidden md:flex gap-x-5">
    <li>Home</li>
    <li>Projectos</li>
    <li>Sobre Mi</li>
  </ul>
  <img class="md:hidden w-6 h-6" src="List.svg" />
</nav>
