---
import Icon from './Icon.astro'
---

<nav class="flex justify-between pt-2">
  <h1 class="text-xl">Daniel</h1>

  <ul class="hidden md:flex gap-x-5">
    <li>Home</li>
    <li>Projectos</li>
    <li>Sobre Mi</li>
  </ul>
  <Icon additionalClass="md:hidden" name="menu" />
</nav>
