---
import Icon from './Icon.astro'
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.split('/')[1]
---

<nav>
	<div
		id='nav'
		class='bg-black absolute p-40 md:p-8 md:px-2 md:static md:flex w-screen h-screen -top-full md:bg-transparent md:w-full md:h-6 left-0 z-10 transition-all 0.3 border-b-2 border-white border-opacity-5'
	>
		<ul class='flex flex-col md:flex-row justify-start items-center gap-5 text-zinc-600 w-full'>
			<li>
				<a
					class={`hover:bg-[#222222]  p-2 rounded-lg ${currentPath === '' ? 'active' : ''}`}
					href='/'>Home</a
				>
			</li>
			<li>
				<a
					class={`hover:bg-[#222222]  p-2 rounded-lg ${currentPath === 'snippets' ? 'active' : ''}`}
					href='/snippets'>Snippets</a
				>
			</li>
			<li>
				<a
					class={`hover:bg-[#222222]  p-2 rounded-lg ${currentPath === 'blog' ? 'active' : ''}`}
					href='/blog'>Blog</a
				>
			</li>
		</ul>
	</div>
	<Icon id='hamburguer' additionalClass='z-20 absolute top-2 right-5  md:hidden' name='menu' />
</nav>

<style>
	.show-nav--active {
		@apply top-0;
	}
	.active {
		@apply text-white;
	}
</style>
<script>
	const nav = document.getElementById('nav')

	document.getElementById('hamburguer')?.addEventListener('click', () => {
		nav?.classList.toggle('show-nav--active')
		document.body.classList.toggle('overflow-hidden')
	})
</script>
