---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html class='scroll-smooth' lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class='bg-dark text-white text-lg px-14 md:w-10/12 lg:w-5/12 md:mx-auto pb-2'>
		<slot />
		<style>
			* {
				box-sizing: border-box;
			}

			body {
				margin: 0;
				padding: 0;
				background: rgb(34, 17, 26);
				background: radial-gradient(circle, rgba(34, 17, 26, 1) 10%, rgba(0, 0, 0, 1) 89%);
			}
		</style>
	</body>
</html>
