---
import 'normalize.css'
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html class='scroll-smooth' lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover' />
		<link
			rel='icon'
			type='image/svg+xml'
			href='https://avatars.githubusercontent.com/u/44914786?s=280&v=4'
		/>
		<meta name='description' content='portfolio de daniel carmona gilibert' />

		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class='text-white text-lg px-14 md:px-10 md:w-10/12 2xl:w-4/12 md:mx-auto pb-24'>
		<slot />
		<style>
			* {
				box-sizing: border-box;
			}

			body {
				margin: 0;
				padding: 0;
				background: radial-gradient(circle, rgba(34, 17, 26, 1) 10%, rgba(0, 0, 0, 1) 89%);
				/* background-size: 400% 400%; */
				/* background-repeat: repeat; */
				/* animation: gradient 12s ease infinite; */
			}
			/* @keyframes gradient {
				0% {
					background-position: 0% 100%;
				}
				50% {
					background-position: 50% 10%;
				}
				100% {
					background-position: 100% 50%;
				}
			} */
		</style>
	</body>
</html>
